/*Generic Styles*/
* {
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif
}
p {
    font-size: 14px
}
h1,h2 {
    font-family: 'Poppins',sans-serif
}
footer,html {
    background-color: #fafafa
}
/*Header & Nav Styles*/
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 60px;
    background-color: #3e96fa;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.18)
}
main,nav {
    width: 880px;
    padding: 0 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}
nav {
    display: flex
}
nav h2 {
    line-height: 60px;
    color: #fff
}
nav img {
    width: 32px;
    height: 32px;
    margin: 14px 0
}
/* Shared Style for Flex Sibilings*/
nav, #addFilter, .commonUser .infoBar, #messageInput, #profileDetails {
    justify-content: space-between;
}
.commonUser .infoBar p, #messageInput #message {
    flex-grow: 2;
}
.uploadFile+label:hover,button,nav img:hover {
    cursor: pointer
}
/* Input general styles*/
input[type=number],input[type=text] {
    height: 40px;
    border: 0;
    padding: 0 16px;
    width: auto
}
input[type=number],input[type=password],input[type=text] {
    background-color: #f1f1f2;
    border-radius: 20px;
    font-size: 12px
}
#addFilter #hobbyList,button,input[type=password] {
    height: 40px;
    border: 0;
    padding: 0 16px
}
button {
    background: #3e96fa;
    font-weight: 700;
    color: #fff;
    border-radius: 50px;
    font-size: 14px
}
button:hover {
    background: #78aae3
}
.secondaryButton {
    margin-top: 24px;
    background: 0 0;
    color: #3e96fa
}
.secondaryButton:hover {
    background: 0 0
}
/* Shared box shadow style*/
#addFilter,#loginRegister form,#messageInput,#messages,#profile,.commonUser {
    box-shadow: 0 11px 26px -24px rgba(0,0,0,.35)
}

/* Login Styles */
#loginRegister {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}
#loginRegister h2 {
    text-align: center;
    font-size: 32px
}
#loginRegister form {
    width: 500px;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px
}
#loginRegister input[type=text],input[type=password] {
    display: block;
    margin-bottom: 16px;
    width: 300px
}
#loginRegister input[type=number] {
    width: 100px
}
#loginRegister form button {
    width: 310px
}
#loginRegister .container {
    display: inline-block;
    margin-right: 24px
}
.elementContainer {
    width: 310px;
    margin-bottom: 16px
}
.elementContainer p {
    margin-bottom: 8px;
    opacity: .5;
    margin-left: 4px
}
#loginRegister button,#loginRegister input[type=text],#loginRegisterButtons,.elementContainer,input[type=password] {
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}
#loginRegister h2,main h2 {
    margin-bottom: 24px
}
#imageUpload p {
    text-align: center;
    margin-bottom: 16px;
    opacity: .5
}
.uploadInput {
    width: 172px;
    height: 172px;
    background: #f1f1f2;
    border-radius: 8px;
    padding: 8px;
    margin: 0 auto 24px;
    transition: all .2s cubic-bezier(.87,-.41,.19,1.44)
}
.uploadFile {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1
}
.uploadFile+label {
    display: block;
    margin: 60px auto;
    text-align: center
}
.uploadFile+label img {
    margin-bottom: 4px
}
.uploadDone,.uploadError,.uploadSuccess,.uploadUploading {
    display: none
}
.is-dragover {
    transform: scale(1.1);
    box-shadow: 0 11px 26px -24px #000
}

/* Main page styles */
main {
    margin: 100px 0
}
#addFilter {
    background-color: #fff;
    border: 0;
    border-radius: 8px;
    margin-bottom: 40px;
    padding: 16px;
    display: flex
}
#addFilter div {
    width: calc(50% - 44px)
}
#addFiter h3 {
    font-weight: 400
}
.seperator {
    width: 1px!important;
    background-color: rgba(0,0,0,.18)
}
#addFilter #hobbyList {
    background-color: #f1f1f2;
    border-radius: 20px;
    font-size: 12px;
    width: 100%;
    margin: 16px 0 8px
}
#addFilter #add button {
    float: right;
    margin-bottom: 8px;
    margin-left: 8px
}
#addFilter #filter form {
    width: 50%;
    margin-top: 24px;
    float: left
}
#addFilter #filter form:last-child {
    text-align: center
}
#addFilter #filter input[type=text] {
    width: 60px;
    text-align: center;
    margin-top: 8px
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    line-height: 25px
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee
}
.container:hover input~.checkmark {
    background-color: #ccc
}
.container input:checked~.checkmark {
    background-color: #2196f3
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none
}
.container input:checked~.checkmark:after {
    display: block
}
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg)
}

/* Style for common user view */
.commonUser {
    background-color: #fff;
    border: 0;
    border-radius: 8px;
    margin-bottom: 24px
}
.commonUser .infoBar {
    display: flex
}
.commonUser .infoBar img {
    width: 80px;
    height: 80px;
    margin: 16px 8px 16px 16px;
    border-radius: 40px;
    object-fit: cover;
}
.commonUser .infoBar p {
    font-size: 16px;
    margin-top: 40px
}
.commonUser .infoBar p span {
    color: rgba(0,0,0,.5)
}
.commonUser .infoBar button {
    margin: 40px 16px 0 0;
    width: 150px
}
.commonUser hr {
    margin: 0 24px;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.15)
}
.commonUser .hobbyList {
    padding: 20px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.commonUser .hobbyList li {
    height: 40px;
    background: #d8d8d8;
    line-height: 40px;
    padding: 0 16px;
    border-radius: 20px;
    margin: 4px
}
.disableScrolling {
    height: 100%;
    overflow: hidden
}

/* Profile Styles */
#profileOverlay {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1
}
#profileBlackView {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.15);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2
}
#profile {
    background-color: #fff;
    width: 690px;
    padding-bottom: 40px;
    border-radius: 8px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3
}
#profile>#profileImage {
    width: 180px;
    height: 180px;
    border: 10px solid #fff;
    border-radius: 100%;
    position: relative;
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover
}
#profile>#exitImage {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    font-size: 20px;
    font-weight: 700
}
#profile>#exitImage:hover {
    cursor: pointer;
    color: #3e96fa
}
#profile button,#profile h1 {
    left: 50%;
    transform: translateX(-50%);
    margin-top: 24px
}
#profile h1 {
    text-align: center;
    display: block;
    top: 96px;
    position: absolute
}
#profileDetails {
    width: calc(100% - 64px);
    margin: 0 32px;
    display: flex
}
#profileDetails ul {
    width: calc(50% - 44px);
    padding: 0;
    list-style: none
}
#profileDetails ul li {
    margin-bottom: 16px
}
#profile button {
    width: 250px;
    position: relative
}

/* Message styles */
#messageInput,#messages {
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 16px
}
#messages {
    width: calc(880px - 48);
    padding: 24px;
    height: calc(100vh - 345px);
    overflow-y: scroll
}
#messageInput {
    padding: 16px;
    display: flex
}
#messages .message {
    width: 100%;
    display: flex;
    margin-bottom: 4px
}
#messages .message img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    object-fit: cover;
}
#messages .message p {
    font-size: 16px;
    max-width: 350px;
    padding: 16px 20px;
    margin: 0 16px;
    border-radius: 175px;
    background-color: #d8d8d8
}
#messages .to {
    flex-direction: row-reverse;
}
#messages .to p {
    background-color: #3e96fa;
    color: #fff
}
#messageInput #message {
    margin-right: 16px;
}
#messageInput button {
    width: 40px;
    height: 40px;
    padding: 0 10px
}

/* Footer Styles */
footer {
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0
}
footer p {
    opacity: .5;
    margin: 8px;
    text-align: center
}

/* for screens less that 880px wide */
@media only screen and (max-width:880px) {
    main,nav {
        padding-left: 16px;
        padding-right: 16px
    }
    #addFilter {
        flex-direction: column;
    }
    #addFilter div {
        width: 100%
    }
    #profile,main,nav {
        width: calc(100% - 32px)
    }
}

/* for screens less that 600px wide */
@media only screen and (max-width:600px) {
    #profileOverlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1
    }
    #profileBlackView {
        background-color: #fff
    }
    #profile {
        width: 100vw;
        height: 100%;
        padding-bottom: 0;
        box-shadow: none
    }
    #profileDetails {
        flex-direction: column;
    }
    #profileDetails ul {
        width: 100%
    }
    #loginRegister,#profile,#profile #profileImage,#profile h1 {
        position: relative;
        left: 0;
        top: 0;
        transform: none
    }
    #profile #profileImage {
        margin-top: 24px;
        left: 50%;
        transform: translateX(-50%)
    }
    #profile h1 {
        margin: 24px 0
    }
    .commonUser .infoBar p{
        font-size: 14px;
    }
    #loginRegister {
        padding-top: 60px;
        height: calc(100vh - 60px);
        background-color: #fff
    }
    #loginRegister form {
        width: 100%;
        padding: 0;
        box-shadow: none
    }
    footer p {
        font-size: 10px
    }
    #messages .message {
        margin-bottom: 8px;
    }
}