<!--Place the code for the base page in this file
(header, footer and other essentials which should appear on every page-->
<header>
<!--remove this and the line below-->
    <nav>
        <h2>HobbyTrend</h2>
        <img src="../static/img/proflieIcon.png" alt="profile Icon">
    </nav>
</header>

<main>
    <h2>Welcome Back username</h2>
    <section id="addFilter">
        <div id="add">
            <h3>Add a new hobby</h3>
            <input list="hobbies" name="hobbies" id="hobbyList" placeholder="&#x1F50D; Search hobbies"><br>
            <datalist id="hobbies">
                    <option value="Computer Science">
                    <option value="Football">
                    <option value="Music">
                    <option value="Clubbing">
                    <option value="Painting">
                  </datalist>
            <button>Add</button>
        </div>
        <div class="seperator"></div>
        <div id="filter">
            <h3>Show only</h3>
            <form>
                <label class="container">Male
                    <input type="radio" checked="checked" name="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Female
                    <input type="radio" checked="checked" name="radio">
                    <span class="checkmark"></span>
                </label>
            </form>
            <form>
                Aged Between<br>
                <input type="text" id="minAge" placeholder="0"> and
                <input type="text" id="maxAge" placeholder="99">
            </form>
        </div>
    </section>
    
    <section id="commonUser">
        <div class="infoBar">
            <img src="https://images.unsplash.com/photo-1529932260967-af9d3bbd8138?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="Names Image">
            <p>Firstname Lastname<br><span class="light">14 hobbies in common</span></p>
            <button>view profile</button>
        </div>
        <hr>
        <ul class="hobbyList">
            <li class="hobbyItem">Football</li>
            <li class="hobbyItem">Painting</li>
            <li class="hobbyItem">Music</li>
            <li class="hobbyItem">Computer Sciences</li>
            <li class="hobbyItem">Football</li>
            <li class="hobbyItem">Painting</li>
            <li class="hobbyItem">Music</li>
            <li class="hobbyItem">Computer Sciences</li>
            <li class="hobbyItem">Football</li>
            <li class="hobbyItem">Painting</li>
            <li class="hobbyItem">Music</li>
            <li class="hobbyItem">Computer Sciences</li>
            <li class="hobbyItem">and 10 others</li>
        </ul>
    </section>
    <section id="commonUser">
            <div class="infoBar">
                <img src="https://images.unsplash.com/photo-1529932260967-af9d3bbd8138?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="Names Image">
                <p>Firstname Lastname<br><span class="light">14 hobbies in common</span></p>
                <button>view profile</button>
            </div>
            <hr>
            <ul class="hobbyList">
                <li class="hobbyItem">Football</li>
                <li class="hobbyItem">Painting</li>
                <li class="hobbyItem">Music</li>
                <li class="hobbyItem">Computer Sciences</li>
                <li class="hobbyItem">Football</li>
                <li class="hobbyItem">Painting</li>
                <li class="hobbyItem">Music</li>
                <li class="hobbyItem">Computer Sciences</li>
                <li class="hobbyItem">Football</li>
                <li class="hobbyItem">Painting</li>
                <li class="hobbyItem">Music</li>
                <li class="hobbyItem">Computer Sciences</li>
                <li class="hobbyItem">and 10 others</li>
            </ul>
        </section>
        <section id="commonUser">
                <div class="infoBar">
                    <img src="https://images.unsplash.com/photo-1529932260967-af9d3bbd8138?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="Names Image">
                    <p>Firstname Lastname<br><span class="light">14 hobbies in common</span></p>
                    <button>view profile</button>
                </div>
                <hr>
                <ul class="hobbyList">
                    <li class="hobbyItem">Football</li>
                    <li class="hobbyItem">Painting</li>
                    <li class="hobbyItem">Music</li>
                    <li class="hobbyItem">Computer Sciences</li>
                    <li class="hobbyItem">Football</li>
                    <li class="hobbyItem">Painting</li>
                    <li class="hobbyItem">Music</li>
                    <li class="hobbyItem">Computer Sciences</li>
                    <li class="hobbyItem">Football</li>
                    <li class="hobbyItem">Painting</li>
                    <li class="hobbyItem">Music</li>
                    <li class="hobbyItem">Computer Sciences</li>
                    <li class="hobbyItem">and 10 others</li>
                </ul>
            </section>
            <section id="commonUser">
                    <div class="infoBar">
                        <img src="https://images.unsplash.com/photo-1529932260967-af9d3bbd8138?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="Names Image">
                        <p>Firstname Lastname<br><span class="light">14 hobbies in common</span></p>
                        <button>view profile</button>
                    </div>
                    <hr>
                    <ul class="hobbyList">
                        <li class="hobbyItem">Football</li>
                        <li class="hobbyItem">Painting</li>
                        <li class="hobbyItem">Music</li>
                        <li class="hobbyItem">Computer Sciences</li>
                        <li class="hobbyItem">Football</li>
                        <li class="hobbyItem">Painting</li>
                        <li class="hobbyItem">Music</li>
                        <li class="hobbyItem">Computer Sciences</li>
                        <li class="hobbyItem">Football</li>
                        <li class="hobbyItem">Painting</li>
                        <li class="hobbyItem">Music</li>
                        <li class="hobbyItem">Computer Sciences</li>
                        <li class="hobbyItem">and 10 others</li>
                    </ul>
                </section>
                <section id="commonUser">
                        <div class="infoBar">
                            <img src="https://images.unsplash.com/photo-1529932260967-af9d3bbd8138?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="Names Image">
                            <p>Firstname Lastname<br><span class="light">14 hobbies in common</span></p>
                            <button>view profile</button>
                        </div>
                        <hr>
                        <ul class="hobbyList">
                            <li class="hobbyItem">Football</li>
                            <li class="hobbyItem">Painting</li>
                            <li class="hobbyItem">Music</li>
                            <li class="hobbyItem">Computer Sciences</li>
                            <li class="hobbyItem">Football</li>
                            <li class="hobbyItem">Painting</li>
                            <li class="hobbyItem">Music</li>
                            <li class="hobbyItem">Computer Sciences</li>
                            <li class="hobbyItem">Football</li>
                            <li class="hobbyItem">Painting</li>
                            <li class="hobbyItem">Music</li>
                            <li class="hobbyItem">Computer Sciences</li>
                            <li class="hobbyItem">and 10 others</li>
                        </ul>
                    </section>
                    <section id="commonUser">
                            <div class="infoBar">
                                <img src="https://images.unsplash.com/photo-1529932260967-af9d3bbd8138?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="Names Image">
                                <p>Firstname Lastname<br><span class="light">14 hobbies in common</span></p>
                                <button>view profile</button>
                            </div>
                            <hr>
                            <ul class="hobbyList">
                                <li class="hobbyItem">Football</li>
                                <li class="hobbyItem">Painting</li>
                                <li class="hobbyItem">Music</li>
                                <li class="hobbyItem">Computer Sciences</li>
                                <li class="hobbyItem">Football</li>
                                <li class="hobbyItem">Painting</li>
                                <li class="hobbyItem">Music</li>
                                <li class="hobbyItem">Computer Sciences</li>
                                <li class="hobbyItem">Football</li>
                                <li class="hobbyItem">Painting</li>
                                <li class="hobbyItem">Music</li>
                                <li class="hobbyItem">Computer Sciences</li>
                                <li class="hobbyItem">and 10 others</li>
                            </ul>
                        </section>
</main>

<!--{% block content %}
{% endblock content %}-->

<footer>
<!--remove this and the line below-->
<p>hobbyTrend 2018. Mark Brown, Adam Daod, Nathaniel Lewis & Alounthong Xanexaya</p>
</footer>
<link href="https://fonts.googleapis.com/css?family=Poppins:400,600" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../static/style.css">