<!--<header>
<h4>Add the header here</h4>
</header>-->
{% load static %}
    <!--<dialog open>hey</dialog>-->
<body>
    {% block content %}{% endblock content %}

    {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    {% endblock scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</body>

<!--
This was only remove because it was blocking stuff on some pages. It can be added back, if neededd
-->
<!--
<footer>
    {% block footer %}
        <p>hobbyTrend 2018. Mark Brown, Adam Daod, Nathaniel Lewis & Alounthong Xanexaya</p>
    {% endblock footer %}
</footer>->