<div id="profileBlackView"></div>
<section id="profile">
    <img id="profileImage" src="https://images.unsplash.com/photo-1529932260967-af9d3bbd8138?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="profile image"/>
    <!--if user is logged in-->
        <img id="editImage" src="../static/img/editIcon.png" alt="edit icon"/>
    <h1>Firstname Lastname</h1>
    <section id="profileDetails">
        <ul>
            <li><b>Email: </b>userprofile@email.com</li>
            <li><b>Gender: </b>Male</li>
            <li><b>Birthday: </b>24th Feb 1994</li>
        </ul>
        <div class="seperator"></div>
        <ul>
            <li><b>Hobbies:</b></li>
            <li>Computer Science, Football, Music, Nightlife,
                Running,  Film, TV, Magic, Guitar, Art, Drawing,
                Singing, Autosports, Gym, Sking, Meditation
            </li>
        </ul>
    </section>
    <button>contact</button>
</section>
<link href="https://fonts.googleapis.com/css?family=Poppins:400,600" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../static/style.css">