{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <main>
        {% csrf_token %}
        <h2>You & {{recipient}}</h2>
        <section id="messages">
            <div id="prototypeMessage" class="message">
                <img src="https://images.unsplash.com/photo-1517461743639-4982607f3cad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" class="messageProfile" alt="firstname lastname image">
                <p class="messageBody">Hey! Welcome to HobbyTrends chat. Some information....</p>
            </div>   
        </section>
        <section id="messageInput">
            <input type="text" name="message" id="message" placeholder="write something...">
            <button id="messageSend"><img src="{% static 'chat/img/sendIcon.png' %}" width="24" height="24" alt="send"></button>
        </section>
    </main>
<script>
    var MY_USER_ID = {{request.user.id}};
    var CHAT_ID = {{chat_id}};
</script>
{% endblock content %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'chat/js/chat.js' %}"></script>
{% endblock scripts %}